*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
.DS_Store
.AppleDouble
.LSOverride
/hello-world-rest-service/out
/rest-service-api-test/out
/rest-service-api-test/build
